@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  background-repeat:no-repeat;
  background-size: cover;
  color:cadetblue;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-image:linear-gradient(rgb(0, 217, 255),rgb(8, 37, 165)) ;
}
h1{
    display: flex;
    justify-content: center;
    margin: 60px;
}
input{
    display: flex;
    width: 200px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    padding: 30px;
}
button{
    display: flex;
    width: 50px;
    align-self: center;
    
}
p{
    display: flex;
    justify-content: center;
    color: rgb(3, 9, 82);
    text-shadow: 10px;
    font-weight: 600;
}
::-webkit-input-placeholder{
    text-align: center;
}   
